@import "../../../../MsfsAvionicsCommon/definitions";

.mfd-pos-monitor-header {
    margin-top: 20px;
}

.mfd-pos-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 85px;
    margin-right: 85px;
}

.mfd-pos-monitor-line {
    border: 1px outset $display-light-grey;
    height: 1px;
}

.mfd-position-monitor-sensors-container {
    padding-left: 7px;
}

.mfd-pos-monitor-deviation-container {

}

